<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="org.acme.project.entity"/>
    </typeAliases>
    <environments default="quarkus">
        <environment id="quarkus">
            <transactionManager type="JDBC"/>
            <dataSource type="QUARKUS"/>
        </environment>
    </environments>
    <mappers>
        <package name="org.acme.project.mapper"/>
    </mappers>
</configuration>
